

    <!-- Sidebar -->
     <!-- <p>home!</p> -->
<div id="home">
    <div id="sidebar">
        <new-object-sidebar
            :session="session"
            :graffiti="graffiti"
            :appName="appName"
            :toggleNew="toggleNew"
            :contacts="contacts"
            v-if="newObject"
        ></new-object-sidebar>


        <folder-sidebar
            :openChat="openChat"
            :openChatChannel="openChatChannel"
            :allObjects="allObjects"
            :folderNavStack="folderNavStack"
            :folderUpdates="folderUpdates"
            :sidebarFolderChannel="sidebarFolderChannel"
            :folderBack="folderBack"
            :folders="folders"
            :session="session"
            :graffiti="graffiti"
            @changeNavStack="$emit('changeNavStack', $event)"
            @changeChatChannel="$emit('changeChatChannel', $event)"
            v-else-if="sidebarFolderChannel"
        ></folder-sidebar>

        <root-sidebar
            :allObjects="root"
            :openChatChannel="openChatChannel"
            :openObjectFromRoot="openObjectFromRoot"
            v-else
        ></root-sidebar>
        <button @click="toggleNew">{{newObject ? "Cancel" : "New"}}</button>
    </div>




    <!-- <p>chat!</p> -->
    <chat
        :folders="folders"
        :openChatChannel="openChatChannel"
        :session="session"
        :graffiti="graffiti"
        :appName="appName"
        :folderNavStack="folderNavStack"
        :allObjects="allObjects"
        :openChat="openChat"
        :folderBack="folderBack"
        :folderUpdates="folderUpdates"

    ></chat>

</div>
    <!-- Main window -->
    <!-- <router-view></router-view> -->
