

    <!-- Sidebar -->
     <!-- <p>home!</p> -->
<div id="home" :class="{ 'home--chat-open': hasOpenChat }">
    <div id="sidebar">
        <new-object-sidebar
            :session="session"
            :graffiti="graffiti"
            :appName="appName"
            :toggleNew="toggleNew"
            :contacts="contacts"
            :sidebar-folder-channel="sidebarFolderChannel"
            v-if="newObject"
        ></new-object-sidebar>


        <transition name="sidebar-folder" mode="out-in">
            <folder-sidebar
                v-if="!newObject && sidebarFolderChannel"
                :key="`folder:${sidebarFolderChannel}`"
                :openChat="openChat"
                :openChatChannel="openChatChannel"
                :allObjects="allObjects"
                :folderNavStack="folderNavStack"
                :folderUpdates="folderUpdates"
                :sidebarFolderChannel="sidebarFolderChannel"
                :folderBack="folderBack"
                :folders="folders"
                :session="session"
                :graffiti="graffiti"
                :contacts="contacts"
                :hiddenChatChannels="hiddenChatChannels"
                :mutedChatChannels="mutedChatChannels"
                :mutedFolderChannels="mutedFolderChannels"
                @changeNavStack="$emit('changeNavStack', $event)"
                @changeChatChannel="$emit('changeChatChannel', $event)"
            ></folder-sidebar>

            <root-sidebar
                v-else-if="!newObject"
                key="root"
                :allObjects="root"
                :menuObjects="allObjects"
                :openChatChannel="openChatChannel"
                :openObjectFromRoot="openObjectFromRoot"
                :contacts="contacts"
                :session="session"
                :folders="folders"
                :folderUpdates="folderUpdates"
                :graffiti="graffiti"
                :folderNavStack="folderNavStack"
                :folderBack="folderBack"
                :mutedChatChannels="mutedChatChannels"
                :mutedFolderChannels="mutedFolderChannels"
            ></root-sidebar>
        </transition>
        <button @click="toggleNew">{{newObject ? "Cancel" : "New"}}</button>
    </div>




    <!-- <p>chat!</p> -->
    <chat
        :folders="folders"
        :openChatChannel="openChatChannel"
        :session="session"
        :graffiti="graffiti"
        :appName="appName"
        :contacts="contacts"
        :folderNavStack="folderNavStack"
        :allObjects="allObjects"
        :openChat="openChat"
        :folderBack="folderBack"
        :folderUpdates="folderUpdates"
        :chatDeletionCutoffs="chatDeletionCutoffs"
        :mutedChatChannels="mutedChatChannels"
        :mutedFolderChannels="mutedFolderChannels"
        :prefetchedMessagesByChannel="prefetchedMessagesByChannel"
        :prefetchedParticipantUpdatesByChannel="prefetchedParticipantUpdatesByChannel"

    ></chat>

</div>
    <!-- Main window -->
    <!-- <router-view></router-view> -->
